<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/busca.css">

    <script src="https://kit.fontawesome.com/aba31752f4.js" crossorigin="anonymous"></script>
    
    <title>tech.academy | resultados</title>
</head>
<body>
    <header>
        <div class="container navbar">
            <div class="logo">
                <img class="logo-img" src="imgs/tech.logo2.svg">
                <h1 class="logo-texto">tech.academy</h1>
            </div>

            <div class="sign">
                <a class="signin" href="#">sign in</a>
                <button class="signup">sign up</button>
            </div>
        </div>
    </header>

    <div class="container column busca">

        <!-- Form de Busca -->
        <section class="busca">
            <div class="busca-texto">
                <h1>descubra o curso ideal para você</h1>
            </div>
            
            <div class="busca-form">
                <input type="text" class="busca-input" placeholder="busque por cursos, plataformas e áreas de interesse...">
                <button type="submit" class="busca-btn">
                  <i class="fa fa-search"></i>
               </button>
             </div>
        </section>
        <!-- Fim: Busca -->

        <!-- Header de Resultados -->
        <section class="resultados-header">
            <div class="resultados-titulo">1.000 resultados para sua-busca</div>
            <div class="resultados-filtros">
                <i class="fas fa-filter"></i>
                filtros e ordenação
            </div>
        </section>
        <!-- Fim: Header de Resultados -->

        <!-- Resultados: Cursos -->
        <section class="resultados-cursos">
            <div class="item resultado-img"></div>

            <div class="item resultado-textos">
                <h1 class="resultado-desc">curso 01</h1>
                <h2 class="resultado-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet fringilla arcu, a auctor justo cursus non.</h2>
                <h2 class="resultado-desc">plataforma: test</h2>
                <h2 class="resultado-desc resultado-rating">
                    3.0
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    (1.000)
                </h2>
            </div>

            <div class="resultado-links">
                <div class="resultado-botoes">
                    <button class="btn resultado-link">saiba mais</button>
                    <button class="btn resultado-link">avaliações</button>
                    <button class="btn resultado-preco">R$ 19,99</button>
                </div>
            </div>
        </section>

        <section class="resultados-cursos">
            <div class="item resultado-img"></div>

            <div class="item resultado-textos">
                <h1 class="resultado-desc">curso 02</h1>
                <h2 class="resultado-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet fringilla arcu, a auctor justo cursus non.</h2>
                <h2 class="resultado-desc">plataforma: test</h2>
                <h2 class="resultado-desc resultado-rating">
                    3.0
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    (1.000)
                </h2>
            </div>

            <div class="resultado-links">
                <div class="resultado-botoes">
                    <button class="btn resultado-link">saiba mais</button>
                    <button class="btn resultado-link">avaliações</button>
                    <button class="btn resultado-preco">R$ 19,99</button>
                </div>
            </div>
        </section>

        <section class="resultados-cursos">
            <div class="item resultado-img"></div>

            <div class="item resultado-textos">
                <h1 class="resultado-desc">curso 03</h1>
                <h2 class="resultado-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet fringilla arcu, a auctor justo cursus non.</h2>
                <h2 class="resultado-desc">plataforma: test</h2>
                <h2 class="resultado-desc resultado-rating">
                    3.0
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    (1.000)
                </h2>
            </div>

            <div class="resultado-links">
                <div class="resultado-botoes">
                    <button class="btn resultado-link">saiba mais</button>
                    <button class="btn resultado-link">avaliações</button>
                    <button class="btn resultado-preco">R$ 19,99</button>
                </div>
            </div>
        </section>

        <section class="resultados-cursos">
            <div class="item resultado-img"></div>

            <div class="item resultado-textos">
                <h1 class="resultado-desc">curso 04</h1>
                <h2 class="resultado-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet fringilla arcu, a auctor justo cursus non.</h2>
                <h2 class="resultado-desc">plataforma: test</h2>
                <h2 class="resultado-desc resultado-rating">
                    3.0
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    (1.000)
                </h2>
            </div>

            <div class="resultado-links">
                <div class="resultado-botoes">
                    <button class="btn resultado-link">saiba mais</button>
                    <button class="btn resultado-link">avaliações</button>
                    <button class="btn resultado-preco">R$ 19,99</button>
                </div>
            </div>
        </section>

        <section class="resultados-cursos">
            <div class="item resultado-img"></div>

            <div class="item resultado-textos">
                <h1 class="resultado-desc">curso 05</h1>
                <h2 class="resultado-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet fringilla arcu, a auctor justo cursus non.</h2>
                <h2 class="resultado-desc">plataforma: test</h2>
                <h2 class="resultado-desc resultado-rating">
                    3.0
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    (1.000)
                </h2>
            </div>

            <div class="resultado-links">
                <div class="resultado-botoes">
                    <button class="btn resultado-link">saiba mais</button>
                    <button class="btn resultado-link">avaliações</button>
                    <button class="btn resultado-preco">R$ 19,99</button>
                </div>
            </div>
        </section>
        <!-- Fim: Resultados de Cursos -->

        <section class="paginacao">
            <a href="#"><i class="fas fa-arrow-left"></i></a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
        </section>
    </div>

    <footer class="footer">
        <div class="copyright">copyright &copy tech.academy, inc. all rights reserved</div>
    </footer>

</body>
</html>