<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/busca.css') }}">

    <script src="https://kit.fontawesome.com/aba31752f4.js" crossorigin="anonymous"></script>
    
    <title>tech.academy | resultados</title>
</head>
<body>
    <header>
        <div class="container navbar">
            <div class="logo">
                <a class="" href="/">
                    <img class="logo-img" src="{{ url_for('static', filename='imgs/tech.logo2.svg') }}">
                </a>
                <h1 class="logo-texto"><a href="/">tech.academy</a></h1>
            </div>

            {% if session.get('usuario_logado') == None %}
            <div class="sign">
                <a class="signin" href="login">sign in</a>
                <button class="signup" onclick="location.href='register'" type="button">sign up</button>
            </div>

            {% else %}
            <div class="usuario-alertas">
                <a href="#"><i class="far fa-comment-alt"></i></a>
                <a href="#"><i class="fas fa-bell"></i></a>
                
                <div class="dropdown">
                    <button class="usuario-dropdown">
                        {{session.get('usuario_logado')}}
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="dropdown-links">
                        <a href="perfil">meu perfil</a>
                        <a href="#">configurações</a>
                        <div class="dropdown-logout">
                            <button class="signup" onclick="location.href='logout'" type="button">logout</button>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
        </div>
    </header>

    <div class="container column busca">

        <!-- Form de Busca -->
        <section class="busca">
            <div class="busca-texto">
                <h1>descubra o curso ideal para você</h1>
            </div>
            
            <form>
                <div class="busca-form">
                    <input type="text" class="busca-input" placeholder="busque por cursos do seu interesse..." name="description">
                    <button type="submit" class="busca-btn" formaction="{{ url_for('buscar') }}" formmethod="POST">
                      <i class="fa fa-search"></i>
                   </button>
                 </div>
            </form>
        </section>
        <!-- Fim: Busca -->

        <!-- Header de Resultados -->
        <section class="resultados-header">

            {% if query|length > 0 %}

            <div class="resultados-titulo">{{ results|length }} resultados para {{ query }}</div>
            
            {% else %}
            
            <div class="resultados-titulo">descubra o curso ideal para você :)</div>
            
            {% endif %}

            <div class="resultados-filtros">
                <i class="fas fa-filter"></i>
                filtros e ordenação
            </div>
        </section>
        <!-- Fim: Header de Resultados -->

        <!-- Resultados: Cursos -->
        {% for curso in results %}
            <section class="resultados-cursos">
                <div class="item resultado-img"></div>

                <div class="item resultado-textos">
                    <h1 class="resultado-desc">{{ curso['nome_curso'] }}</h1>
                    <h2 class="resultado-desc">{{ curso['descricao'] }}</h2>
                    <h2 class="resultado-desc">{{ curso['oferecimento'] }}</h2>
                    <h2 class="resultado-desc resultado-rating">
                        {{ curso['avaliacao'] }}
                        {% for i in range(curso['avaliacao']) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% for i in range(5 - curso['avaliacao']) %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                        (99)
                    </h2>
                </div>

                <div class="resultado-links">
                    <div class="resultado-botoes">
                        <button class="btn resultado-link">saiba mais</button>
                        <button class="btn resultado-link">avaliações</button>
                        <button class="btn resultado-preco">R$ {{ curso['valor'] }}</button>
                    </div>
                </div>
            </section>
        {% endfor %}

        <!-- Fim: Resultados de Cursos -->

        <section class="paginacao">
            <a href="#"><i class="fas fa-arrow-left"></i></a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
        </section>
    </div>

    <footer class="footer">
        <div class="copyright">copyright &copy tech.academy, inc. all rights reserved</div>
    </footer>

</body>
</html>