<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400&family=Raleway:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/aba31752f4.js" crossorigin="anonymous"></script>

    <title>tech.academy | home</title>
</head>
<body>
    <header>
        <div class="container navbar">
            <div class="logo">
                <a class="logo-link" href="/">
                    <img class="logo-img" src="{{ url_for('static', filename='imgs/tech.logo.svg') }}">
                </a>
                <h1 class="logo-texto"><a href="/">tech.academy</a></h1>
            </div>

            <!-- Navbar: Usuário Logado -->
            {% if session.get('usuario_logado') != None %}
            <div class="usuario-alertas">
                <a href="#"><i class="far fa-comment-alt"></i></a>
                <a href="#"><i class="fas fa-bell"></i></a>
                
                <div class="dropdown">
                    <button class="usuario-dropdown">
                        {{session.get('usuario_logado')}}
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="dropdown-links">
                        <a href="perfil">meu perfil</a>
                        <a href="#">configurações</a>
                        <div class="dropdown-logout">
                            <button class="signup" onclick="location.href='logout'" type="button">logout</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navbar: Usuário Não Logado -->
            {% else %}
            <div class="sign">
                <a class="signin" href="login">sign in</a>
                <button class="signup" onclick="location.href='register'" type="button">sign up</button>
            </div>
            {% endif %}
        </div>
    </header>

    <div class="container column conteudo">

        <!-- Primeiro Container: Conteudo em Destaque -->

        {% if session.get('usuario_logado') == None %}
        <section class="container">
            <div class="container wrap column destaque-conteudo">
                <div class="container destaque-texto">
                    <div>avalie cursos e plataformas de <a class="strong">várias formas</a></div>
                </div>
                
                <div class="container destaque-link">
                    <div class="para-empresas">
                        <h1>sobre nós</h1><br>
                        <h2>nosso foco é no seu desenvolvimento profissional</h2><br>
                        <button class="saiba-mais" onclick="location.href='about'" type="button">saiba mais</button>
                    </div>

                    <div class="para-voce">
                        <h1>para você</h1><br>
                        <h2>cadastre-se agora e inicie sua jornada de conhecimento</h2><br>
                        <button class="cadastre-se" onclick="location.href='register'" type="button">cadastre-se</button>
                    </div>
                </div>
            </div>

            <div class="destaque-img">
                <img class="img" src="{{ url_for('static', filename='imgs/undraw_studying_s3l7.svg') }}">
            </div>
        </section>
        <!-- Fim: Conteudo em Destaque -->

        <!-- Primeiro Container: Conteudo em Destaque (Logado) -->

        {% else %}
        <section class="container">
            <div class="container wrap column destaque-conteudo">
                <div class="container destaque-texto">
                    <div>
                        <h1>olá, <a class="strong">{{session.get('usuario_logado')}}</a></h1>
                        <h2>bem vindo de volta ;)</h2>
                    </div>
                </div>
                
                <div class="container-logado">

                    <div class="logado-xp">
                        <div class="ring-base">
                            <svg>
                                <circle cx="50" cy="50" r="50"></circle>
                                <circle cx="50" cy="50" r="50"></circle>
                            </svg>
                        </div>

                        <div class="ring-xp"><h2>50xp</h2></div>

                        <div class="info-level">
                            <div><a class="level"><i class="fas fa-graduation-cap"></i>rookie</a></div>
                            <div><a href="perfil" class="lvl-link"><i class="fas fa-user"></i>meu perfil</a></div>
                            <div><a href="#" class="lvl-link"><i class="fas fa-rss"></i>comunidade</a></div>
                            
                        </div>
                    </div>

                    <div class="logado-info"></div>
                </div>
            </div>

            <div class="destaque-img">
                <img class="img" src="{{ url_for('static', filename='imgs/undraw_studying_s3l7.svg') }}">
            </div>
        </section>
        
        {% endif %}
        <!-- Fim: Conteudo em Destaque (Logado) -->

        <!-- Form de Busca -->
        <section class="busca">
            <div class="busca-texto">
                <p>comece agora mesmo :)</p>
                <h1>descubra o curso ideal para você</h1>
            </div>
            <form>
                <div class="busca-form">
                    <!-- Barra de Busca - Antiga -->
                    <!-- <input type="text" class="busca-input" placeholder="busque por cursos do seu interesse..." name="description">
                    <button type="submit" class="busca-btn" formaction="{{ url_for('buscar') }}" formmethod="POST">
                      <i class="fa fa-search"></i>
                   </button>
                 </div>  -->
                
                 <!-- Barra de Busca - Nova -->
                 <div class="principal">
                    <div class="search-icon">
                        <style></style>
                        <div class="icon">
                            <button class="search-bar-btn" type="submit" formmethod="POST" formaction="{{ url_for('buscar') }}">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-cfg"></div>
                        <input class="input-txt" type="text" placeholder="busque por cursos do seu interesse..." name="description" autocomplete="off">
                    </div>
                </div>
                <!-- Fim Barra de Busca - Nova -->

            </form>
        </section>
        <!-- Fim: Busca -->

        <!-- Cursos em Destaque -->
        <section class="cursos">
            <div class="cursos-texto">em destaque</div>
            <div class="cursos-destaque">
                <div class="curso-destaque">
                    <div class="curso-destaque-img">
                        <div class="blog-div">
                            <img src="{{ url_for('static', filename='imgs/cursos/coursera.png') }}" style="width: 150px; height: 22px;">
                        </div>
                    </div>
                    <div class="curso-destaque-texto">
                        <div class="blog-div">
                            machine learning
                        </div>
                    </div>
                </div>

                <div class="curso-destaque">
                    <div class="curso-destaque-img">
                        <div class="blog-div">
                            <img src="{{ url_for('static', filename='imgs/cursos/alura.png') }}" style="width: 150px; height: 85px;">
                        </div>
                    </div>
                    <div class="curso-destaque-texto">
                        <div class="blog-div">
                            front-end
                        </div>
                    </div>
                </div>

                <div class="curso-destaque">
                    <div class="curso-destaque-img">
                        <div class="blog-div">
                            <img src="{{ url_for('static', filename='imgs/cursos/udacity.png') }}" style="width: 150px; height: 78px;">
                        </div>
                    </div>
                    <div class="curso-destaque-texto">
                        <div class="blog-div">
                            back-end
                        </div>
                    </div>
                </div>

                <div class="curso-destaque">
                    <div class="curso-destaque-img">
                        <div class="blog-div">
                            <img src="{{ url_for('static', filename='imgs/cursos/linkedin.png') }}" style="width: 150px; height: 29px;">
                        </div>
                    </div>
                    <div class="curso-destaque-texto">
                        <div class="blog-div">
                            agile
                        </div>
                    </div>
                </div>

                <div class="curso-destaque">
                    <div class="curso-destaque-img">
                        <div class="blog-div">
                            <img src="{{ url_for('static', filename='imgs/cursos/udemy.png') }}" style="width: 150px; height: 78px;">
                        </div>
                    </div>
                    <div class="curso-destaque-texto">
                        <div class="blog-div">
                            design
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim Cursos em Destaque -->

        <!-- Blogs -->
        <section class="blogs">
            <div class="blogs-texto">blogs</div>
            <div class="blogs-destaque">
                <div class="blog">
                    <div class="blog-img">
                        <div class="blog-div">
                            <img src="{{ url_for('static', filename='imgs/blogs/infoq.png') }}">
                        </div>
                    </div>
                    <div class="blog-texto">
                        <div class="blog-div">
                            infoQ
                        </div>
                    </div>
                </div>

                <div class="blog">
                    <div class="blog-img">
                        <div class="blog-div">
                            <img src="{{ url_for('static', filename='imgs/blogs/The_Verge_Logo_2016.svg.png') }}" style="width: 120px; height: 120px;">
                        </div>
                    </div>
                    <div class="blog-texto">
                        <div class="blog-div">
                            The Verge
                        </div>
                    </div>
                </div>

                <div class="blog">
                    <div class="blog-img">
                        <div class="blog-div">
                            <img src="{{ url_for('static', filename='imgs/blogs/android-central.png') }}" style="width: 79px; height: 95px;">
                        </div>
                    </div>
                    <div class="blog-texto">
                        <div class="blog-div">
                            android central
                        </div>
                    </div>
                </div>

                <div class="blog">
                    <div class="blog-img">
                        <div class="blog-div">
                            <img src="{{ url_for('static', filename='imgs/blogs/logo-techtudo.png') }}" style="width: 150px; height: 26px;">
                        </div>
                    </div>
                    <div class="blog-texto">
                        <div class="blog-div">
                            techtudo
                        </div>
                    </div>
                </div>

                <div class="blog">
                    <div class="blog-img">
                        <div class="blog-div">
                            <img src="{{ url_for('static', filename='imgs/blogs/ITBusinessEdge.png') }}" style="width: 150px; height: 27px;">
                        </div>
                    </div>
                    <div class="blog-texto">
                        <div class="blog-div">
                            IT Business Edge
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim Blogs -->

        <!-- Parceiros -->
        <section class="parceiros">
            <div class="parceiros-texto">nossos parceiros</div>
            <div class="parceiros-destaque">
                <div><img src="{{ url_for('static', filename='imgs/cursos/coursera.png') }}" style="width: 150px; height: 22px; filter: brightness(0.5);"></div>
                <div><img src="{{ url_for('static', filename='imgs/cursos/alura.png') }}" style="width: 120px; height: 68px;"></div>
                <div><img src="{{ url_for('static', filename='imgs/cursos/linkedin.png') }}" style="width: 200px; height: 39px; filter: brightness(0.5);"></div>
                
            </div>
        </section>
        <!-- Fim Parceiros -->

        <!-- Newsletter
        <div class="newsletter">
            <h1>newsletter</h1>
        </div>
        -->

    </div>

    <footer class="footer">
        <div class="copyright">copyright &copy tech.academy, inc. all rights reserved</div>
    </footer>

</body>
</html>