<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

    <title>tech.academy | minha conta</title>
</head>
<body>
  <div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <img class="tech-logo" src="{{ url_for('static', filename='imgs/dice-d6-solid.svg') }}">
        <a class="navbar-brand" style="color:white"><strong>tech.academy</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">about</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
              <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img src="{{ url_for('static', filename='imgs/male-avatar.svg') }}" class="rounded-circle z-depth-0" alt="avatar image" style="height: 50px;">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                  aria-labelledby="navbarDropdownMenuLink-55">
                  <a class="dropdown-item" href="{{ url_for('visualizar_perfil') }}">Meu Perfil</a>
                  <a class="dropdown-item" href="{{ url_for('logout') }}">Sair</a>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="perfil">
    <div class="info-pessoal">
      <img class="perfil-avatar" src="{{ url_for('static', filename='imgs/male-avatar.svg') }}" alt="avatar">
      <p class="perfil-info"><strong>@{{session.get('usuario_logado')}}</strong></p>
      <p class="perfil-info-classificacao">
        <i class="fas fa-graduation-cap"></i>
        <strong>rookie</strong> (50xp)
      </p>
      <p class="perfil-info-empresa">
        <i class="fas fa-building"></i>
        each-usp
      </p>
      <p class="perfil-info-bio">
        <i class="fas fa-book"></i>
        tech lover
      </p>
      <!--Twitter-->
      <a href="#" class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
      <!--Linkedin-->
      <a href="#" class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
      <!--Stack Overflow-->
      <a href="#" class="btn-floating btn-lg btn-so" type="button" role="button"><i class="fab fa-stack-overflow"></i></a>
      <!--Github-->
      <a href="#" class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github"></i></a>

      <button type="button" class="btn btn-dark">editar perfil</button>
      <a type="button" class="btn btn-info" href="{{ url_for('logout') }}">logout</a>
    </div>

    <div class="cursos">
      <div class="cursos-ativos">
        <p>
          <i class="fas fa-play"></i>
            cursos <strong>avaliados</strong>
        </p>

        <!--Cursos: Progresso -->
        
          <div>
            <h5 class="cursos-ativos-curso">curso <strong>#01</strong>
              <span class="badge badge-dark" style="float: right;">Alura</span>
              <span class="badge badge-success" style="float: right; margin-right: 5px;">9.0</span>
              <a href="#" class="badge badge-warning" style="float: right; margin-right: 5px;">+ informações</a>
            </h5>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <br>

          <div>
            <h5 class="cursos-ativos-curso">curso <strong>#02</strong>
              <span class="badge badge-dark" style="float: right;">Udemy</span>
              <span class="badge badge-success" style="float: right; margin-right: 5px;">5.0</span>
              <a href="#" class="badge badge-warning" style="float: right; margin-right: 5px;">+ informações</a>
            </h5>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          
          <nav class="cursos-ativos-pags" aria-label="...">
            <ul class="pagination pagination-sm">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
          </nav>

      </div>
      <div class="cursos-recomendados">
        <p>
          <i class="fas fa-hashtag"></i>
          cursos <strong>recomendados <em>(em construção...)</em></strong>
        </p>
        <img class="cursos-recomendados-building" src="{{ url_for('static', filename='imgs/undraw_under_construction_46pa.svg') }}" alt="building...">
      </div>
    </div>
  </div>

  <footer class="page-footer font-small unique-color-dark pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a> <strong>tech.academy</strong></a>
    </div>
    <!-- Copyright -->
  </footer>

  <!-- jQuery, Popper.js and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>