<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/busca.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/aba31752f4.js" crossorigin="anonymous"></script>

    <title>tech.academy | meu perfil</title>
</head>
<body>

    <header>
        <div class="container navbar">
            <div class="logo">
                <a class="" href="/">
                    <img class="logo-img" src="{{ url_for('static', filename='imgs/tech.logo2.svg') }}">
                </a>
                <h1 class="logo-texto"><a href="/">tech.academy</a></h1>
            </div>

            <!-- Navbar: Usuário Logado -->
            <div class="usuario-alertas">
                <a href="#"><i class="far fa-comment-alt"></i></a>
                <a href="#"><i class="fas fa-bell"></i></a>
                
                <div class="dropdown">
                    <button class="usuario-dropdown">
                        {{ session.get('usuario_logado') }}
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="dropdown-links">
                        <a href="perfil">meu perfil</a>
                        <a href="#">configurações</a>
                        <div class="dropdown-logout">
                            <button class="signup" onclick="location.href='logout'" type="button">logout</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim: Usuário Logado -->
        </div>
    </header>

    <div class="grid-container">
        <section class="perfil-avatar">
            <div class="perfil-usuario">
                <!--
                <img src="imgs/undraw_profile_pic_ic5t.svg" alt="avatar" class="avatar"> -->

                <div class="avatar-abreviado">{{ session.get('usuario_logado')[:1] }}</div>
                
                <div class="editar-perfil">
                    <button class="editar-btn">
                        <i class="fas fa-user-edit"></i>
                    </button>

                    <button id="linkedin-btn" class="editar-btn linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </button>

                    <section id="001" class="modal">
                        <div class="modal-conteudo modal-animate-zoom">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <h1>editar perfil</h1>
                            </div>

                            <div class="bottom-line"></div>

                            <div class="modal-form">
                                <form action="" method="" autocomplete="off">
                                    <div class="modal-form-nome">
                                        <div class="titulo"><label for="fname">nome</label></div>
                                        <input type="text" id="fname" name="fname" placeholder="seu nome">
                                    </div>

                                    <div class="modal-esp modal-form-nick">
                                        <div class="titulo"><label for="fname">nickname</label></div>
                                        <input type="text" id="fname" name="fname" placeholder="@seu-nome">
                                    </div>

                                    <div class="modal-esp modal-form-perfil">
                                        <div class="titulo"><label for="fname">perfil</label></div>
                                        <input type="text" id="fname" name="fname" placeholder="como você se define?">
                                    </div>

                                    <div class="modal-esp modal-form-empresa">
                                        <div class="titulo"><label for="fname">empresa</label></div>
                                        <input type="text" id="fname" name="fname" placeholder="onde você trabalha?">
                                    </div>

                                    <div class="modal-esp modal-form-cargo">
                                        <div class="titulo"><label for="fname">cargo</label></div>
                                        <input type="text" id="fname" name="fname" placeholder="o que você faz?">
                                    </div>

                                    <div class="modal-esp modal-form-formacao">
                                        <div class="titulo"><label for="fname">formação</label></div>
                                        <input type="text" id="fname" name="fname" placeholder="o que você estuda?">
                                    </div>

                                    <div class="modal-esp modal-form-wannabe">
                                        <div class="titulo"><label for="fname">wannabe</label></div>
                                        <input type="text" id="fname" name="fname" placeholder="o que você quer ser?">
                                    </div>

                                    <div class="modal-esp modal-form-linkedin">
                                        <div class="titulo"><label for="fname">linkedin</label></div>
                                        <input type="text" id="fname" name="fname" placeholder="www.linkedin.com/in/seu-perfil">
                                    </div>

                                    <div class="modal-btns">
                                        <button id="002" class="signup cancelar-btn" type="button">cancelar</button>
                                        <button class="signup salvar-btn" type="submit">salvar</button>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="perfil-info">
                <h1 class="nome">{{session.get('usuario_logado')}}</h1>
                <h1 class="nick">@{{session.get('usuario_logado')}}</h1>
                
                <div class="bottom-line"></div>

                <h1 class="about">about</h1>

                <div class="about-perfil">
                    <p class="about-titulo">perfil</p>
                    <p class="about-desc">--</p>
                </div>

                <div class="about-empresa">
                    <p class="about-titulo">empresa</p>
                    <p class="about-desc">--</p>
                </div>

                <div class="about-cargo">
                    <p class="about-titulo">cargo</p>
                    <p class="about-desc">--</p>
                </div>

                <div class="about-formacao">
                    <p class="about-titulo">formação</p>
                    <p class="about-desc">--</p>
                </div>

                <div class="about-wannabe">
                    <p class="about-titulo">wannabe</p>
                    <p class="about-desc">--</p>
                </div>

                <div class="about-sobremim">
                    <p class="about-titulo">sobre mim</p>
                    <p class="about-desc">--</p>
                </div>

            </div>
        </section>

        <section class="perfil-sections">
            <div class="container-perfil dashboard shadow">
                <h1><i class="fas fa-chart-line"></i>dashboard</h1>
            </div>

            <div class="container-perfil conquistas shadow">
                <h1><i class="fas fa-award"></i>conquistas</h1>
            </div>

            <div class="container-perfil recomendacoes shadow">
                <h1><i class="far fa-thumbs-up"></i>cursos recomendados</h1>
            </div>

            <div class="container-perfil discussoes shadow">
                <h1><i class="far fa-comments"></i>discussões</h1>
            </div>
        </section>
    </div>
    
    <footer class="footer">
        <div class="copyright">copyright &copy tech.academy, inc. all rights reserved</div>
    </footer>

    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>