<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/teste.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/busca.css">
    <link rel="stylesheet" href="css/profile.css">

    <script src="https://kit.fontawesome.com/aba31752f4.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <header>
        <div class="container navbar">
            <div class="logo">
                
                <img class="logo-img" src="imgs/tech.logo2.svg">
                <h1 class="logo-texto">tech.academy</h1>
                
                
                <div>
                    <a>home</a>
                    <a>about</a>
                </div>
            
            </div>

            <!-- Navbar: Usuário Logado -->
            <div class="usuario-alertas">
                <a href="#"><i class="far fa-comment-alt"></i></a>
                <a href="#"><i class="fas fa-bell"></i></a>
                
                <div class="dropdown">
                    <button class="usuario-dropdown">
                        seu-nome
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="dropdown-links">
                        <a href="#">meu perfil</a>
                        <a href="#">configurações</a>
                        <div class="dropdown-logout">
                            <button class="signup">logout</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim: Usuário Logado -->
        </div>
    </header>

    <script src="js/modal.js"></script>
</body>
</html>