<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tech.academy</title>
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>

  <header>
    <img class="logo" src="{% static 'website/imgs/power-off-solid.svg' %}" alt="tech.academy">
    <h1 class="name">tech.academy</h1>
    <nav>
      <ul class="navlinks">
        <li><a href="#">home</a></li>
        <li><a href="#">explore</a></li>
        <li><a href="#">quem somos</a></li>
        <li><a href="#">suporte</a></li>
        <li><a href="#">Sign in</a></li>
      </ul>
    </nav>
    <a href="#"><button>Sign up</button></a>
  </header>


  <div class="textoPrincipal">
    <a class="textoNormal">avalie cursos e plataformas <br></br> de </a> <a class="negritoTitulo">varias formas</a>
  </div>


  <div class="busca">
    <input placeholder="busque cursos, plataformas ou carreiras" type="text">
  </div>

  <div class="logosSlider">
    <img class='logoAlura' src="{% static 'website/imgs/alura-logo.png' %}">
    <img class='logoUdacity' src="{% static 'website/imgs/udacity-logo2.png' %}">
    <img class='logoCoursera' src="{% static 'website/imgs/coursera-logo.png' %}">
    <img class='logoHotmart' src="{% static 'website/imgs/hotmart-logo2.jpg' %}">
    <img class='logoUdemy' src="{% static 'website/imgs/udemy-logo2.jpg' %}">
    <img class='logoAlura' src="{% static 'website/imgs/alura-logo.png' %}">
    <img class='logoUdacity' src="{% static 'website/imgs/udacity-logo2.png' %}">
    <img class='logoCoursera' src="{% static 'website/imgs/coursera-logo.png' %}">
    <img class='logoHotmart' src="{% static 'website/imgs/hotmart-logo2.jpg' %}">
    <img class='logoUdemy' src="{% static 'website/imgs/udemy-logo2.jpg' %}">
  </div>



  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>


</body>

</html>