<!DOCTYPE html>
<html lang="ptbr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <title>tech.academy | login</title>
</head>
<body>
    <img class="wave" src="{{ url_for('static', filename='imgs/wave.png') }}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ messages[0] }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="img">
            <img src="{{ url_for('static', filename='imgs/book_lover.svg') }}">
        </div>
        <div class="login-content">
            <form method="POST" action="{{ url_for('autenticar') }}">
                <img class="avatar" src="{{ url_for('static', filename='imgs/female-avatar.svg') }}">
                <h2>olá :)</h2>
                <div class="input-div email">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div>
                        <h5>email</h5>
                        <input class="input" type="email" name="email" required>
                    </div>
                </div>
                <div class="input-div senha">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        <h5>senha</h5>
                        <input class="input" type="password" name="senha" required>
                    </div>
                </div>
                <a href="#">esqueceu a senha?</a>
                <input type="submit" class="btn" value="login">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/forms.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>