<!DOCTYPE html>
<html lang="ptbr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <title>tech.academy | sign up</title>
</head>
<body>
    <img class="wave" src="{{ url_for('static', filename='imgs/wave.png') }}">

    <div class="container">
        <div class="img">
            <img src="{{ url_for('static', filename='imgs/teacher.svg') }}">
        </div>
        <div class="login-content">
            <form method="POST" action="{{ url_for('criar') }}">
                <img class="avatar" src="{{ url_for('static', filename='imgs/male-avatar.svg') }}">
                <h2>cadastre-se :)</h2>
                <div class="input-div email">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5>nome de usuário</h5>
                        <input class="input" type="text" name="nome">
                    </div>
                </div>
                <div class="input-div email">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5>email</h5>
                        <input class="input" type="text" name="email">
                    </div>
                </div>
                <div class="input-div senha">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        <h5>senha</h5>
                        <input class="input" type="password" name="senha">
                    </div>
                </div>
                <div class="input-div senha">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        <h5>confirme sua senha</h5>
                        <input class="input" type="password" name="valida_senha">
                    </div>
                </div>

                <input type="submit" class="btn" value="sign up">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>