<!DOCTYPE html>
<html lang="ptbr">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'website/css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <title>tech.academy | sign up</title>
</head>
<body>
    <img class="wave" src="{% static 'website/imgs/wave.png' %}">

    <div class="container">
        <div class="img">
            <img src="{% static 'website/imgs/teacher.svg' %}">
        </div>
        <div class="login-content">
            <form action="">
                <img class="avatar" src="{% static 'website/imgs/male-avatar.svg' %}">
                <h2>cadastre-se :)</h2>
                <div class="input-div email">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5>nome</h5>
                        <input class="input" type="text">
                    </div>
                </div>
                <div class="input-div email">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5>email</h5>
                        <input class="input" type="text">
                    </div>
                </div>
                <div class="input-div senha">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        <h5>senha</h5>
                        <input class="input" type="password">
                    </div>
                </div>
                <div class="input-div senha">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        <h5>confirme sua senha</h5>
                        <input class="input" type="password">
                    </div>
                </div>

                <input type="submit" class="btn" value="sign up">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>
</body>
</html>