body {
    position: relative; 
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 18px;

}

p {
    padding-top: 20px;
    font-size: 16px;
}

.about-us {
    width: 1100px;
    display: flex;
    /* align-items: center; */
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    /* justify-content: center; */
    margin: auto;
    text-align: justify;
}

/*

@media screen and (min-width: 601px) {
    .container-about h1 {
        font-size: 16px;
    }
    
    .container-about p {
        font-size: 12px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container-about h1 {
        font-size: 8px;
    }
    
    .container-about p {
        font-size: 4px;
    }
  }
  */