body {
    font-family: 'Poppins', sans-serif;
    background: white;
    color:  #154250;
    min-height: 100vh;
    position: relative;
}

header {
    background: #EDEDED;
    padding: 10px;
}

.logo-texto {
    color:  #154250;
}

.logo-texto a {
    text-decoration: none;
    color: #154250;
}

.signin {
    color: #154250;
    background-color: white;
}

.signin:hover {
    border: none;
    background-color: #154250;
    color: white;
}

.btn-effect {
    border: 1px solid #154250;
}

.usuario-alertas i {
    color: #154250;
}

.usuario-dropdown i {
    color: white;
}

.busca {
    width: 1100px;
    margin: 20px auto;
}

.resultados-header {
    padding: 20px;
}

.resultados-titulo {
    font-size: 36px;
    margin-top: 40px;
}

.resultados-filtros {
    display: flex;
    align-items: center;
    margin: 20px 0;
    text-align: center;
    height: 40px;
}

.resultados-filtros i {
    margin-right: 10px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #154250;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.effect {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s;
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

.resultados-cursos {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1fr;
    height: 250px;
    border-bottom: 1px solid #EDEDED;
}

.resultado-desc {
    margin: 20px 0;
}

.oferecimento {
    margin: 0;
    display: inline-block;
    background: #7d3131;
    padding: 0 10px;
    /* border-radius: 40px; */
    color: white;
    /* font-weight: 800; */
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}

.item {
    margin: 20px
}

.resultado-img {
    background: white;
    margin: auto;
}

.resultado-textos {
    position: relative;
}

.resultado-rating {
    position: absolute;
    bottom: 0;
}

.resultado-botoes {
    display: grid;

}

.resultado-links {
    margin: auto;
    margin-right: 20px;
}

.btn {
    margin: 5px auto;
}

.resultado-link {
    background-color: #154250;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    cursor: pointer;
}

.resultado-preco {
    background-color: #EDEDED;
    border: none;
    color: #154250;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    cursor: default;
    width: 100px;
}

.btn-effect:hover {
    border: 1px solid #154250;
}

.paginacao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.paginacao a {
    padding: 10px;
    text-decoration: none;
    color: #154250;
}

.copyright {
    font-size: 12px;
    color: white;
}