.body {
    position: relative;
    min-width: 100vh;
}

.logo a {
    text-decoration: none;
    cursor: pointer;
    color: #154250;
}

.usuario-alertas i {
    color: #154250;
}

.dropdown i {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    width: 1100px;
    margin: 100px auto;
}

.perfil-usuario {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40%;
}

.avatar-abreviado {
    border: none;
    border-radius: 20px;
    padding: 32px;
    font-size: 62px;
    background: #154250;
    color: white;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}

.editar-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.editar-btn {
    color: white;
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: #154250;
    text-decoration: none;
    cursor: pointer;
}

.linkedin {
    margin-top: 10px;
    width: 36.67px;
}

.perfil-info {
    margin-top: 20px;
}

.nome {
    font-size: 24px;
}

.nick {
    margin-top: 10px;
    font-size: 18px;
    opacity: 80%;
}

.bottom-line {
    border-bottom: 1px solid;
    padding: 10px;
    opacity: 15%;
}

.about {
    margin-top: 20px;
    font-size: 24px;
}

.about-titulo {
    margin-top: 20px;
    opacity: 70%;
}

.about-desc {
    margin-top: 5px;
    text-align: initial;
}

.container-perfil {
    height: 200px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 20px;
}

.container-perfil h1 {
    padding: 40px;
    font-size: 22px;
    text-align: initial;
}

.container-perfil i {
    margin-right: 10px;
}

.dashboard {
    height: 400px;
}

.shadow {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}